/*----------------------------------------*/

.info {
    background-color: #fff8f0;
    border: 2px solid #807a74;
    padding: 10px;
    text-align: left;
}

.gallery {
    display: grid;
    background-color: #fff8f0;
    border: 2px solid #807a74;
    padding: 10px;
    text-align: left;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
}

.text {
    padding-left: 3%;
    padding-right: 3%;
    font-size: 18px;
}

/*----------------------------------------*/

@media screen and (max-width: 600px) {
    .info {
        font-size: 12px;
    }

    .text {
        font-size: 12px;
    }
}
