/*----------------------------------------*/

.banner {
    background-color: #acc2a7;
    min-width: 700px;
    height: 3em;
    align-content: center;
    text-align: center;
    font-size: 50px;
    font-family: 'Lucida Handwriting';
}

.about-us {
    display: grid;
    background-color: #fff8f0;
    border: 2px solid #807a74;
    grid-template-columns: 48% 4% 48%;
    padding: 10px;
    text-align: left;
}

.rooms-container {
    background-color: #fff8f0;
    border: 2px solid #807a74;
    padding: 10px;
    text-align: left;
}

.rooms {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.contact {
    display: grid;
    background-color: #aaaaaa;
    color: #444444;
    border-top: 2px solid #888888;
    grid-template-columns: 30% 30% 40%;
    min-width: 1200px;
    height: 7em;
    align-content: center;
    padding-left: 20px;
    line-height: 5px;
}

/*----------------------------------------*/

.room-button {
    position: relative;
    margin-left: 6%;
    width: 90%;
}

.room-button img {
    border: 2px solid #232323;
    border-radius: 15px;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    cursor: pointer;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.room-button:hover img {
    opacity: 0.3;
}

.room-button:hover .middle {
    opacity: 1;
}

.button {
    transition: .5s ease;
    background-color: #787878;
    border: 2px solid #454545;
    border-radius: 15px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 32px;
    cursor: pointer;
}

.button:hover {
    background-color: #565656;
    border: 2px solid #232323;
}

/*----------------------------------------*/

.link {
    transition: .5s ease;
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

.link:hover {
    padding-left: 1%;
}

/*----------------------------------------*/

@media screen and (max-width: 600px) {
    .banner {
        min-width: 0px;
        font-size: 21px;
    }

    .about-us {
        display: flex;
        font-size: 12px;
    }

    .about-us img {
        display: none;
    }

    .rooms {
        grid-template-columns: 100%;
        grid-template-rows: 33% 33% 33%;
    }

    .rooms-container {
        font-size: 12px;
    }

    .room-button *:not(:last-child) {
        margin-bottom: 5px;
    }

    .room-button img {
        width: 50%;
    }

    .room-button:hover img {
        opacity: 1;
    }

    .middle {
        opacity: 1;
    }

    .button {
        background-color: inherit;
        color: inherit;
        border: none;
        font-size: 12px;
        margin-left: 87%;
        padding: 4px 8px;
    }

    .button:hover {
        background-color: inherit;
        border: none;
    }

    .contact {
        grid-template-columns: 100%;
        grid-template-rows: 37% 37% 30%;
        min-width: 0px;
        height: 9em;
        font-size: 10px;
        line-height: 1px;
        padding-left: 10px;
    }
}