/*----------------------------------------*/

.grid-container {
    grid-template-columns: max(363px, 20vw) max(1120px, 60vw) 20vw;
}

/*----------------------------------------*/

.vacancies {
    display: none;
}

.about-us {
    display: grid;
    background-color: #fff8f0;
    border: 0.15vw solid #807a74;
    grid-template-columns: 48% 4% 48%;
    padding: 0.5vw;
    text-align: left;
}

.rooms-container {
    background-color: #fff8f0;
    border: 0.15vw solid #807a74;
    padding: 0.5vw;
    text-align: left;
}

.rooms {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

/*----------------------------------------*/

.room-button {
    position: relative;
    margin-left: 6%;
    width: 90%;
}

#outsideButton {
    grid-column: 1 / 4;
    max-width: 33%;
    justify-self: center;
    margin-left: 0px;
    margin-top: 2%;
}

#outsideMobileButton {
    display: none;
}

.room-button img {
    border: 0.15vw solid #232323;
    border-radius: 0.75vw;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: opacity .5s ease;
    backface-visibility: hidden;
    cursor: pointer;
}

.middle {
    transition: opacity .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.room-button:hover img {
    opacity: 0.3;
}

.room-button:hover .middle {
    opacity: 1;
}

.button {
    transition: border .5s ease;
    transition: background-color .5s ease;
    background-color: #787878;
    border: 0.15vw solid #454545;
    border-radius: 0.75vw;
    color: white;
    font-size: max(17px, 0.75vw);
    font-weight: bold;
    padding: 0.75vw 1.4vw;
    cursor: pointer;
}

.button:hover {
    background-color: #565656;
    border: 0.15vw solid #232323;
}

/*----------------------------------------*/

@media screen and (max-width: 600px) {
    /*--------------------------------*/

    .grid-container {
        grid-template-columns: 100%;
    }

    /*--------------------------------*/

    .vacancies {
        display: flex;
        justify-content: center;
        margin-bottom: 3vw;
    }

    .vacancies img {
        border: 0.15vw solid #232323;
        width: 75vw;
    }

    .about-us {
        display: flex;
        padding: 2vw;
    }

    .about-us img {
        display: none;
    }

    .rooms {
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }

    /*--------------------------------*/

    #outsideButton {
        display: none;
        grid-column: 2 / 3;
        max-width: none;
        margin-left: 6%;
        justify-self: left;
    }

    #outsideMobileButton {
        display: inherit;
    }

    .room-button *:not(:last-child) {
        margin-bottom: 5%;
    }

    .room-button img {
        width: 90%;
        justify-self: center;
    }

    .room-button:hover img {
        opacity: 1;
    }

    .middle {
        opacity: 1;
    }

    .button {
        background-color: #a9a9a9;
        color: inherit;
        font-size: 3vw;
    }

    .button:hover {
        background-color: #a9a9a9;
        border: 0.15vw solid #454545;
    }

    /*--------------------------------*/
}

/*----------------------------------------*/