/*----------------------------------------*/

.banner {
    background-color: #acc2a7;
    height: 3em;
    align-content: center;
    text-align: center;
    font-size: 50px;
    font-family: 'Lucida Handwriting';
}

.about-us {
    display: grid;
    background-color: #fff8f0;
    border: 2px solid #807a74;
    grid-template-columns: 48% 4% 48%;
    padding: 10px;
    text-align: left;
}

.rooms-container {
    background-color: #fff8f0;
    border: 2px solid #807a74;
    padding: 10px;
    text-align: left;
}

.rooms {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.contact {
    display: grid;
    background-color: #aaaaaa;
    border-top: 2px solid #888888;
    grid-template-columns: 30% 30% 40%;
    height: 10em;
    align-content: center;
}

/*----------------------------------------*/

.room-button {
    position: relative;
    padding-left: 6%;
    width: 90%;
}

.room-button img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.room-button:hover img {
    opacity: 0.3;
}

.room-button:hover .middle {
    opacity: 1;
}

.text {
    background-color: #565656;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}