/*----------------------------------------*/

.values {
    background-color: #fff8f0;
    border: 0.15vw solid #807a74;
    padding: 0.5vw;
    text-align: left;
}

.staff {
    background-color: #fff8f0;
    border: 0.15vw solid #807a74;
    padding: 0.5vw;
    text-align: left;
}

.text {
    padding-left: 3%;
    padding-right: 3%;
}

/*----------------------------------------*/

@media screen and (max-width: 600px) {
}

/*----------------------------------------*/