/*----------------------------------------*/

html {
    font-size: max(17px, 0.75vw);
    font-family: Arial, sans-serif;
    background-color: #fff4e8;
    color: #232323;
}

body {
    margin: 0px;
}

/*----------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

/*----------------------------------------*/

.line-seperator {
    background-color: #aaaaaa;
    border-top: 0.15vw solid #676767;
    border-bottom: 0.15vw solid #676767;
    min-width: calc(1483px + 1vw);
    height: 1em;
}

.column-seperator {
    align-content: center;
    padding-left: 50%;
}

.column-seperator div {
    width: 0px;
    height: 90%;
    border: 1px dashed #888888;
}

.text-seperator {
    width: 90%;
    height: 0px;
    border: 0.1vw solid #888888;
    margin-left: 5%;
}

/*----------------------------------------*/

.banner {
    background-color: #acc2a7;
    min-width: calc(1483px + 1vw);
    height: 3em;
    align-content: center;
    text-align: center;
    font-size: max(50px, 2vw);
    font-family: 'Lucida Handwriting';
}

.grid-container {
    display: grid;
    grid-template-columns: 20vw max(1120px, 60vw) 20vw;
}

.content {
    grid-column: 2 / 3;
    width: 100%;
    min-width: 1120px;
}

.footer {
    display: grid;
    background-color: #aaaaaa;
    color: #444444;
    border-top: 0.15vw solid #888888;
    grid-template-columns: 30% 30% 40%;
    min-width: 1483px;
    height: 7em;
    align-content: center;
    padding-left: 1vw;
    line-height: 5px;
}

.WTC {
    background-color: #fff8f0;
    border: 0.15vw solid #807a74;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    min-width: 330px;
    height: 20em;
}

.WTC p {
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

/*----------------------------------------*/

.link {
    transition: padding-left .5s ease;
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

.link:hover {
    padding-left: 1%;
}

/*----------------------------------------*/

@media screen and (max-width: 600px) {
    /*--------------------------------*/

    html {
        font-size: 3vw;
    }

    /*--------------------------------*/

    .line-seperator {
        min-width: 0px;
        height: 3vw;
    }

    .column-seperator {
        display: none;
    }

    /*--------------------------------*/

    .banner {
        min-width: 0px;
        font-size: 5vw;
    }

    .grid-container {
        grid-template-columns: 100%;
    }

    .content {
        grid-column: auto;
        width: 90%;
        min-width: 0px;
        margin-left: 5vw;
    }

    .footer {
        grid-template-columns: 100%;
        grid-template-rows: 35% 34% 30%;
        min-width: 0px;
        height: 19vw;
        font-size: 2vw;
        line-height: 0.15vw;
        padding-left: 2vw;
    }

    .WTC {
        min-width: 0px;
        height: 8em;
        margin-bottom: 2vw;
    }

    .WTC p {
        padding-left: 2vw;
        padding-right: 2vw;
    }

    /*--------------------------------*/
}

/*----------------------------------------*/