/*----------------------------------------*/

h1 {
    grid-column: 1 / 5;
}

.text-seperator {
    grid-column: 1 / 5;
}

/*----------------------------------------*/

.gallery {
    display: grid;
    background-color: #fff8f0;
    border: 0.15vw solid #807a74;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 10px;
}

.img-container {
    line-height: 0px;
}

img {
    border: 0.15vw solid #807a74;
    border-radius: 0.75vw;
    width: 96%;
    margin-left: calc(2% - 0.15vw);
    margin-top: calc(2% - 0.15vw);
    margin-bottom: calc(2% - 0.15vw);
}

/*----------------------------------------*/

@media screen and (max-width: 600px) {
    /*--------------------------------*/

    h1 {
        font-size: 4vw;
        grid-column: 1 / 3;
    }

    .text-seperator {
        grid-column: 1 / 3;
    }

    /*--------------------------------*/

    .gallery {
        grid-template-columns: 50% 50%;
    }

    /*--------------------------------*/
}

/*----------------------------------------*/
